
:local(.Picture) {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    .first {
      border-right: 1px solid black;
    }

    .second {
      align-self: center;
      img {
        max-width: 75%;
      }
    }
 }