
body {
  margin: 0;
}
:local(.Layout) {
    text-align: center;

    .meme {
      margin-top: 2em;

      img{
        max-width: 20%;
      }
    }

    .imgInput {
      width: 100vw;
      position: absolute;
      bottom: 6em;

      .styledInput {
        border: black solid 1px;
        padding: .7em;
        text-align: center;
        width: 35%;
        background-color: black;
        color: white;
      }
    }

    h1{
      background-color: black;
      color: white;
      font-size: 2.8rem;
      padding: 1rem;
      margin: 0;
    }

    p {
      position: relative;
      bottom: 3em;
      color: black;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
    }

 }