
//Form


input {
  width: 50vh;
}

form{
  display: grid;
  justify-content: center;
  grid-gap: 1em;
  margin-bottom: 5%;
}

//Gif

section{
  margin-top: 5%;
  
}
section div{
display: grid;
justify-content: center;
}

header{
  position: relative;
  z-index: 10;
  text-align: center;
  top: 1.5em;
  
}

footer{
  position: relative;
  text-align: center;
  bottom: 1.5em;
}

header, footer {
  font-size: 3em;
  color: white;
}